#main {
    display: flex;
    justify-content: space-evenly;
}
#home {
    display: flex;
    flex-direction: column;
    border: 10px solid blue;
    align-items: center;
    width: 400px;
    border-radius: 35px;
}
#visit {
    display: flex;
    flex-direction: column;
    border: 10px solid blue;
    align-items: center;
    width: 400px;
    border-radius: 35px;
}
h2 {
    color: rgb(91, 144, 153);
}